.btn-link {
  width: 160px;
  color: white;
  border-radius: 20px;
  background-color: blue;
  text-decoration: none;
  padding: 5px 14px;
  border: 1px solid black;
  margin-left: auto;
  display: block;
  margin-right: 3px;
}
.btn-link:hover {
  color: white;
  background-color: brown;
}
.btn-projects {
  color: black;
  background-color: rgb(238, 238, 233);
  text-decoration: none;
  padding: 5px 14px;
  border: 2px solid rgb(162, 162, 162);
  margin-left: 5px;
}
.delete__scholarship__btn {
  background-color: white;

  color: red;
  cursor: pointer;
  margin-top: 3vh;
}
